<div id="shoppingCart" class="modal modal-fixed-footer">
  <div class="modal-content">
    <!-- shoppingCart Details -->
    <app-sc-details></app-sc-details>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
  </div>
</div>

<div id="shoppingCartMobile" class="modal bottom-sheet">
  <div class="modal-content">
    <!-- shoppingCart Details -->
    <app-sc-details></app-sc-details>
  </div>

  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
</div>