nav ul a,
nav .brand-logo {
  color: #FFF;
    /*color: #FD6250;*/
  /*color: #444;*/
}
.side-nav.a{
  color: #FD6250 !important;
}

h2{
    color: #FD6250;    
}

.rappicolor{
    color: #FD6250;
}

.rappibackcolor{
    background: #FD6250;    
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: white;
}


.orange.rappi {
    background-color: #FD6250 !important;
}

h4{
    color: #FD6250;    
}

