<nav class="orange rappi" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="." class="brand-logo">
      <img src="assets/images/logo4.png" class="responsive-img" alt="MiniRappi">
    </a>
    <ul class="right hide-on-med-and-down">
      <!-- Modal Trigger -->
      <li>
        <a class="modal-trigger" href="#shoppingCart" (click)="refreshCart()">
          <i class="material-icons">shopping_cart</i>
        </a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <a class="modal-trigger orange rappi" href="#shoppingCartMobile" onclick="$('.button-collapse').sideNav('hide');" (click)="refreshCart()" >
          <i class="material-icons white-text">shopping_cart</i> Carrito de Compra
        </a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Modal Structure -->
<div id="shoppingCart" class="modal modal-fixed-footer">
  <div class="modal-content">    
    <h4>Carrito de Compra</h4>
    <p>A continuacion los productos que has agregado a tu carrito de compra.</p>
    
    <blockquote *ngIf="productOnCart?.length==0">
      No se han agregado productos en el carrito de compra.
    </blockquote>

    <table class="table-responsive highlight" *ngIf="productOnCart?.length!=0">
      <thead>
        <tr>
          <th>
            Foto
          </th>
          <th>
            Producto
          </th>
          <th>
            Cantidad
          </th>
          <th>
            Valor unitario
          </th>
          <th>
            Subtotal
          </th>
          <th>
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productOnCart">
          <td>
            <img class="responsive-img circle" src="{{product?.img}}" alt="">
          </td>
          <td>
            {{product?.name}}
          </td>
          <td>
            {{product?.quantity}}
          </td>
          <td>
            {{product?.price | currency:'COP':true:'4.2-2' }}
          </td>
          <td>
            {{product?.total | currency:'COP':true:'4.2-2' }}
          </td>
          <td>
            <a class="waves-effect waves-light btn rappibackcolor" href="#" (click)="deleteToCart(product)">
              <i class="material-icons cursorpointer">remove_shopping_cart</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="row" *ngIf="productOnCart?.length>0">
      <div class="col s12 m12">
        <h5 class="right-align">Total: {{ totalCart | currency:'COP':true:'4.2-2' }}</h5>
      </div>
    </div>
  </div>
</div>

<div id="shoppingCartMobile" class="modal bottom-sheet">
  <div class="modal-content">
    
    <h4>Carrito de Compra</h4>
    <p>A continuacion los productos que has agregado a tu carrito de compra.</p>
    
    <blockquote *ngIf="productOnCart?.length==0">
      No se han agregado productos en el carrito de compra.
    </blockquote>

    <table class="table-responsive highlight" *ngIf="productOnCart?.length!=0">
      <thead>
        <tr>
          <th>
            Foto
          </th>
          <th>
            Producto
          </th>
          <th>
            Cantidad
          </th>
          <th>
            Valor unitario
          </th>
          <th>
            Subtotal
          </th>
          <th>
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productOnCart">
          <td>
            <img class="responsive-img circle" src="{{product?.img}}" alt="">
          </td>
          <td>
            {{product?.name}}
          </td>
          <td>
            {{product?.quantity}}
          </td>
          <td>
            {{product?.price | currency:'COP':true:'4.2-2' }}
          </td>
          <td>
            {{product?.total | currency:'COP':true:'4.2-2' }}
          </td>
          <td>
            <a class="waves-effect waves-light btn rappibackcolor" href="#" (click)="deleteToCart(product)">
              <i class="material-icons cursorpointer">remove_shopping_cart</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="row" *ngIf="productOnCart?.length>0">
      <div class="col s12 m12">
        <h5 class="right-align">Total: {{ totalCart | currency:'COP':true:'4.2-2' }}</h5>
      </div>
    </div>
  </div>
</div>