<nav class="orange rappi" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="." class="brand-logo">
      <img src="assets/images/logo4.png" class="responsive-img" alt="MiniRappi">
    </a>
    <ul class="right hide-on-med-and-down">
      <!-- Modal Trigger -->
      <li>
        <a class="modal-trigger" href="#shoppingCart">
          <i class="material-icons">shopping_cart</i>
        </a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <a class="modal-trigger orange rappi" href="#shoppingCartMobile">
          <i class="material-icons white-text">shopping_cart</i> Carrito de Compra
        </a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Estructura del Modal -->

<!--Carrito de Compra-->
<app-shopping-cart></app-shopping-cart>