.rappi:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #FD6250; /* You need to change the colour here */
  border-bottom: 2px solid #FD6250; /* And here */
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }




/* label focus color */
 .input-field input:focus + label {
   color: #FD6250 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #FD6250 !important;
   box-shadow: 0 1px 0 0 #FD6250 !important
 }


h2{
    color: #FD6250;    
}

.rappicolor{
    color: #FD6250;
}

.rappibackcolor{
    background: #FD6250;    
}


.hauto{
    height: auto !important;
}

.cursorpointer{
    cursor: pointer !important;
}


[type="radio"].with-gap:checked + label:before {
border-radius: 50%;
border: 2px solid #FD6250; }

[type="radio"].with-gap:checked + label:after {
border-radius: 50%;
border: 2px solid #FD6250;
background-color: #FD6250;
z-index: 0;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-ms-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5); 
}

select {
    display: block !important;
    margin: 0 auto !important;
}

.checkbox-rappi[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #FD6250;
     background-color: #FD6250;
}