<div class="container">
  <h2>
    Productos
  </h2>
  <!-- filters begin -->
  <div class="row">
    <div class="col s6 m2">
      <label class="label-control">Filas por pagina</label>
      <select class="browser-default" [(ngModel)]="rowsOnPage">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
      </select>
    </div>
    <div class="col s6 m2">
      <label class="label-control">Ordenar por</label>
      <select class="browser-default" [(ngModel)]="sortBy">
          <option ngValue="name">Nombre</option>
          <option [value]="+price">Precio</option>
          <option ngValue="description">Descripcion</option>
          <!--<option [ngValue]="sortByWordLength">City</option>-->
      </select>
    </div>
    <div class="col s6 m2">
      <label class="label-control">Orden</label>
      <select class="browser-default" [(ngModel)]="sortOrder">
        <option ngValue="asc">Ascendiente</option>
        <option ngValue="desc">Descendiente</option>                            
      </select>
    </div>
    <div class="col s6 m2">
      <label class="label-control">Categorias</label>
      <select class="browser-default" [(ngModel)]="categorySelected">
        <option [value]="-1" >Todas</option>
        <option *ngFor="let category of information.categories" 
                [value]="category.categori_id">
        {{category.name | capitalize}}
        </option>
      </select>
    </div>
    <div class="col s11 m4">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" class="validate" [(ngModel)]="filterQuery">
          <label for="icon_prefix" class="active">Busca un producto</label>
        </div>
      </div>
    </div>

    <div class="col s6 m2">
      <input type="radio" id="productAll" class=" with-gap" name="radioSearch" value="all" [(ngModel)]="allSelected" />
      <label for="productAll" class="label-control truncate">Todos</label>
    </div>

    <div class="col s6 m2">
      <input type="radio" id="productStock" class=" with-gap" name="radioSearch" value="stock" [(ngModel)]="allSelected" />
      <label for="productStock" class="label-control truncate">Disponibles</label>
    </div>

    <div class="col s6 m2">
      <input type="radio" id="productEmpty" class=" with-gap" name="radioSearch" value="empty" [(ngModel)]="allSelected" />
      <label for="productEmpty" class="label-control truncate">Agotados</label>
    </div>

    <div class="col s6 m2">
      <input type="radio" id="productBestSeller" class=" with-gap" name="radioSearch" value="best" [(ngModel)]="allSelected" />
      <label for="productBestSeller" class="label-control truncate">Mas Vendidos</label>
    </div>

    <div class="col s6 m2">
      <input type="checkbox" id="mayor30" class=" with-gap rappi" name="precioSearch1" [(ngModel)]="mayor30" />
      <label for="mayor30" class="label-control truncate">Mayor a $30.000</label>
    </div>

    <div class="col s6 m2">
      <input type="checkbox" id="menor10" class="with-gap rappi" name="precioSearch2" [(ngModel)]="menor10" />
      <label for="menor10" class="label-control truncate">Menor a $10.000</label>
    </div>
    
  </div>
<!-- filters end -->

<!-- datatable begin -->
  <table class="table-responsive highlight" [mfData]="information.products | dataFilter : filterQuery | categoryFilter : categorySelected | allFilter : allSelected | priceFilter : mayor30 : menor10 "
    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
      <tr>
        <th data-field="img">
          Foto
        </th>
        <th data-field="name">
          <mfDefaultSorter by="name">
            Nombre
          </mfDefaultSorter>
        </th>
        <th data-field="price">
          <mfDefaultSorter by="+price">
            Precio
          </mfDefaultSorter>
        </th>
        <th data-field="description">
          <mfDefaultSorter by="description">
            Descripcion
          </mfDefaultSorter>
        </th>
        <th data-field="add">Agregar</th>
        <!--<th data-field="race" class="hide-on-small-only">Función</th>-->
      </tr>
    </thead>

    <tbody>      
      <!--<tr *ngFor="let product of information.products">        -->
      <tr *ngFor="let product of mf.data">
        <td>
          <img class="responsive-img circle" src="{{product.img}}" alt="">
        </td>
        <td>
          {{product.name}}
        </td>

        <td>
          $ {{product.price }}
        </td>
        <td>
          <p>
            {{product.description}}

          </p>
        </td>
        <td>
            <!-- Modal Product Viewer Trigger  -->
          <a class="modal-trigger waves-effect waves-light btn rappibackcolor" href="#productViewer" (click)="attachEventsPlx(product)" >
            <i class="material-icons cursorpointer">add_shopping_cart</i>
          </a>          
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
<!-- datatable end -->  

 <!-- Modal Product Viewer Structure -->
  <div id="productViewer" class="modal ">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
