/*** !important was needed for snippet ***/



/* label focus color */
 .input-field input:focus + label {
   color: #FD6250 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #FD6250 !important;
   box-shadow: 0 1px 0 0 #FD6250 !important
 }


h2{
    color: #FD6250;    
}


.hauto{
    height: auto !important;
}

.cursorpointer{
    cursor: pointer !important;
}


[type="radio"].with-gap:checked + label:before {
border-radius: 50%;
border: 2px solid #FFF; }

[type="radio"].with-gap:checked + label:after {
border-radius: 50%;
border: 2px solid #FFF;
background-color: #FFF;
z-index: 0;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-ms-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5); 
}

select {
    display: block !important;
    margin: 0 auto !important;
}