<h4>Carrito de Compra</h4>
<p>A continuacion los productos que has agregado a tu carrito de compra.</p>

<!--{{ checkStorage() }}-->
<p *ngIf="productOnCart?.length==0"  >
  No se han agregado productos en el carrito de compra.
</p>

<table class="table-responsive highlight" *ngIf="productOnCart?.length!=0"  >
  <tr>
    <td>
      Foto
    </td>
    <td>
      Producto
    </td>
    <td>
      Cantidad
    </td>
    <td>
      Valor
    </td>
    <td>
      Eliminar
    </td>
  </tr>
  <tr *ngFor="let product of productOnCart">
    <td>
      <img class="responsive-img circle" src="{{product?.img}}" alt="">
    </td>
    <td>
      {{product?.name}}
    </td>
    <td>
      {{product?.quantity}}
    </td>
    <td>
      {{product?.price}}
    </td>
    <td>
      <a class="waves-effect waves-light btn rappibackcolor" href="#">
        <i class="material-icons cursorpointer">remove_shopping_cart</i>
      </a>      
    </td>
  </tr>
</table>